node_modules
.pnpm-store
.next
.turbo
dist
coverage
.git
.github
**/*.md
!README.md
apps/backend/bin
apps/backend/storage
apps/*/public/assets
.env
.env.*
!.env.example
!.env.*.example
assets/logo/logo-7oz.png
*.log
